extends ../layout

block content
  .page-header

  .row
    .col-md-12
      h3 Sign up

      .empty-space

      form.form-horizontal(id='signup-form', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label.col-sm-3.control-label(for='email') Email*
          .col-sm-7
            input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus required)
        .form-group
          label.col-sm-3.control-label(for='phone') Phone*
          .col-sm-7
            input.form-control(type='text', name='phone', id='phone', placeholder='Phone', required)
        .form-group
          label.col-sm-3.control-label(for='password') Password*
          .col-sm-7
            input.form-control(type='password', name='password', id='password', placeholder='Password')
        .form-group
          label.col-sm-3.control-label(for='confirmPassword') Confirm Password*
          .col-sm-7
            input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password')
        .form-group
          .col-sm-offset-3.col-sm-7
            input(type='hidden' name='isTourGuide', value='true')
            input(type='hidden' name='isTourist', value='true')
            button.btn.btn-success(type='submit')
              span.ion-person-add
              | Signup

      .empty-space

      //p.lead Traveller? you need to register as a 
        a(href='/wayfairer-signup') Wayfairer.

    //.col-md-6
      h3 Wayfairer Sign up

      .empty-space

      form.form-horizontal(id='signup-form-wayfairer', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label.col-sm-3.control-label(for='email') Email*
          .col-sm-7
            input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus required)
        .form-group
          label.col-sm-3.control-label(for='phone') Phone*
          .col-sm-7
            input.form-control(type='text', name='phone', id='phone', placeholder='Phone', required)
        .form-group
          label.col-sm-3.control-label(for='password') Password*
          .col-sm-7
            input.form-control(type='password', name='password', id='password', placeholder='Password')
        .form-group
          label.col-sm-3.control-label(for='confirmPassword') Confirm Password*
          .col-sm-7
            input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password')
        .form-group
          .col-sm-offset-3.col-sm-7
            input(type='hidden' name='isTourGuide', value='true')
            button.btn.btn-success(type='submit')
              span.ion-person-add
              | Signup