extends layout

block content

  .hero
    .container
      h1.hero-headline A fairer way to travel
      p.lead.hero-strapline Connecting travellers seeking authentic cultural experiences with those who provide them.
      .empty-space
      a.btn.btn-primary.btn-large(href='/experiences/all') Begin Journey
      span.hero-text  
      a.btn.btn-secondary.btn-large(href='/how-it-works') Learn More
  .row
    .col-sm-6
      .empty-space
      h2 Seeking an authentic cultural experience?
      p.lead Participate in local led cultural and heritage experiences with a community of ethical travelers. Expand your travel experiences in unique ways.
      p
        a.btn.btn-primary(href='/experiences/all', role='button') Find the way »
    .col-sm-6
      .empty-space
      h2 Have unique cultural experience to share?
      p.lead Receive bookings and interest from travelers who want to participate in your unique and authentic art of living.
      p
        a.btn.btn-secondary(href='/signup', role='button') Lead the way »